@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

.Game_bg {
	width: 100%;
	height: 100%;
	background: url(Img/bg01.jpg);
	background-size: cover;
	background-position: top;
	position: absolute;
}

/*----顶部栏----*/
.Topbar {
	width: auto;
	height: 128px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url(Img/banner.png) no-repeat;
	z-index: 1;
}

.Return {
	width: 79px;
	height: 103px;
	position: absolute;
	top: 9px;
	left: 34px;
	background-image: url(Img/Return01.png);
	z-index: 2;
	cursor: pointer;
	transition: 0.5s;
	transform: scale(0.96);
}

	.Return:hover {
		background-image: url(Img/Return02.png);
		transform: scale(1);
	}

.Topbar_center {
	width: 660px;
	height: 134px;
	margin: 2px auto 0;
}

.Game {
	width: 282px;
	height: 134px;
	float: left;
	background: url(Img/Game01.png) no-repeat;
	z-index: 2;
	transition: 0.5s;
	cursor: pointer;
}

.Game:hover {
	background: url(Img/Game02.png) no-repeat;
}

.Discuss {
	width: 282px;
	height: 134px;
	float: right;
	background: url(Img/Discuss01.png) no-repeat;
	z-index: 2;
	transition: 0.5s;
	cursor: pointer;
}

.Discuss:hover {
	background: url(Img/Discuss02.png) no-repeat;
}

.Topbar_right {
	width: 289px;
	height: 200px;
	position: absolute;
	background: url(Img/banner_right.png) no-repeat;
	top: 0;
	right: 0;
	z-index: 2;
}

/*----侧边栏----*/
.Sidebar::-webkit-scrollbar {
	display: none;
}

.Sidebar {
	width: auto;
	height: auto;
	position: absolute;
	top: 140px;
	right: 1536px;
	bottom: 20px;
	left: 20px;
	background-color: rgba(55,55,55,0.9);
	border-radius: 16px;
	overflow: auto;
}

/*----内容栏----*/
.Content {
	width: 1496px;
	height: auto;
	position: absolute;
	top: 140px;
	right: 20px;
	bottom: 20px;
	border-radius: 16px;
	overflow: hidden;
}

.Content .Post{
	width: 100%;
	height:100%;
	display: none;
}

/*----题目样式----*/
.GamePage_qn {
	color: rgba(255,65,0,0.8);
	font-size: 17px;
	font-weight: bold;
	font-family: "QNHG";
	letter-spacing: 2px;
	margin-top: 6px;
	text-align: justify;
}

.GamePage_an {
	color: rgba(255,255,255,1);
	font-size: 15px;
	margin-top: 4px;
}

.GamePage_an_option{
	margin-top: 2px;
	display: block;
}

.GamePage_an a{
	font-size: 16px;
	padding-left: 4px;
	opacity: 0.6;
}

.GamePage_button {
	width: 100%;
	height: 36px;
	margin: 30px 0 20px 0;
	border: 2px solid transparent;
	border-bottom: 5px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgba(80,80,80,0.6);
	transition: 0.4s;
	font-size: 15px;
	letter-spacing: 3px;
	color: #fff;
	font-family: "QNHG";
}

@media screen and (max-width:1780px) {
	.Sidebar {
		width: 224px;
		right: auto;
	}

	.Content {
		width: auto;
		left: 264px;
	}
}